*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
    font-size: 25px;
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: darkgrey;
    color: white;
}

.wrapper{
    margin: 150px auto;
    width: 70%;
}
img {
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius :10px;
    margin-right: 15px;
}
.text-box {
    color: rgb(255, 255, 255);
}
.text-box h2{
    font-size: 45px;
}
.text-box p{
    font-size: 35px;
}
